@model Harman.Web.Data.Entities.TipoDocumento

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TipoDocumento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DescripcionTipoDocumento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescripcionTipoDocumento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TipoDocumentoID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
