@model Harman.Web.Data.Entities.Moneda

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Moneda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodigoMoneda" class="control-label"></label>
                <input asp-for="CodigoMoneda" class="form-control" />
                <span asp-validation-for="CodigoMoneda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreMoneda" class="control-label"></label>
                <input asp-for="NombreMoneda" class="form-control" />
                <span asp-validation-for="NombreMoneda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SimboloDeMoneda" class="control-label"></label>
                <input asp-for="SimboloDeMoneda" class="form-control" />
                <span asp-validation-for="SimboloDeMoneda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaisID" class="control-label"></label>
                <select asp-for="PaisID" class ="form-control" asp-items="ViewBag.PaisID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
