@model Harman.Web.Data.Entities.ModoDePago

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ModoDePago</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PaymentTermsID" />
            <div class="form-group">
                <label asp-for="DescripcionModoDePago" class="control-label"></label>
                <input asp-for="DescripcionModoDePago" class="form-control" />
                <span asp-validation-for="DescripcionModoDePago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoID" class="control-label"></label>
                <select asp-for="EstadoID" class="form-control" asp-items="ViewBag.EstadoID"></select>
                <span asp-validation-for="EstadoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
